/* generics */

nav{
    background-color: #F8F9FA;
    height: 100px;
}

main{
    height: calc(100vh - 100px);
}

header{
    background-color: #1B72E8;
}
    

section{
    width: calc(100% - 70px);
    height: calc(100vh - 100px);
    overflow: auto;
    background-color: #F8F9FA;
}


header a, .badge, .b-pill{
    background-color:#165BBA ;
}

/* nav */

.nav-image-mobile{
    width: 40px;
}

[class^="nav-imag"]{
    display: block;
}

nav .nav-item .dropdown-menu{
    left: -140px;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.form-control:focus{
    box-shadow: none;
    border-color: #ced4da;
}

.navbar form input{
    content: url("\f002");
}

/* sidebar */

.sidebar{
    width: 70px;
    height: calc(100vh - 100px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    overflow-y: auto;
}

.sidebar a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 5px;
}

/* main */

.table-image-class{
    width: 20px;
}

.offcanvas.offcanvas-end{
    width: 100%;
}

/* responsive */

/*desktop*/

@media screen and (min-width: 1201px){
    .sidebar{
        width:140px;
    }

    section{
        width: calc(100% - 140px);
    }
   
    .offcanvas.offcanvas-end{
        width: 50%;
    }
}

